:root {
    --bg: #06283D;
    --heading: #EC994B;
    --text: #F5EDDC;
  
  }

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    /* overflow-x:hidden; */
}

nav{
    background:black;
    color:white;
    height:80px;
    width:100vw;
    position:fixed;
    z-index:10;
    font-family: 'Merienda', sans-serif;

}

nav ul{
    padding:0;
    float:right;
    margin-right:20px;
}
nav ul li{
    list-style:none;
    display:inline-block;
    line-height:80px;
    margin:0 5px;
}

nav ul li a{
    color:var(--heading);
    text-decoration:none;
    text-transform:uppercase;
    padding: 7px 13px;
    border-radius:5px;
    font-size:15px;
    font-weight:bold;
    transition:all 0.5s;
}

nav ul li a:hover{
    background:#EC994B !important;
    color:#F5EDDC !important;
}
nav .logo{
    text-align:center;
    line-height:70px;
    /* background:yellow; */
    height:80px;
}

#SVG_Logo{
    stroke-dasharray:1000;
    stroke-dashoffset:0;
}

.small_LOGO{
    display:none;
}
.Large_LOGO{
    margin-top:0;
    /* width:400px; */
}

/* nav .logo{
    color:yellow;
    font-size:25px;
    font-weight:bold;
    line-height:80px;
    padding:0 70px;
} */

.checkbtn{
    font-size:30px;
    line-height:80px;
    color:white;
    float:right;
    cursor:pointer;
    margin-right:30px;
    display:none;
    transition:all 0.5s;
}

.closebtn{
    font-size:30px;
    line-height:80px;
    color:white;
    float:right;
    cursor:pointer;
    margin-right:30px;
    display:none;
}

#check{
    display:none;
}

@media screen and (max-width:1025px){
    nav .logo{
        /* font-size:25px; */
        padding:0 50px;
    }
    nav ul li a{
        paddng:7px 12px;
        font-size:13px;
    }
}

@media screen and (max-width:952px){
    nav .logo{
        font-size:20px;
        padding:0 40px;
    }
    nav ul li a{
        padding:7px 10px;
        font-size:12px;
    }
}


@media screen and (max-width: 820px) {
    nav{
        z-index:200;
    }
    .checkbtn{
        display:block;
    }

    nav ul{
        position:fixed;
        width:100%;
        height:100vh;
        background:black;
        top:80px;
        left:-100%;
        text-align:center;
        transition:all 0.5s;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:20px;
    }
    nav ul li a:hover{
        background:white;
        color:black;
    }
    #check:checked ~ .ul{
        left:0;
    }

    #check:checked ~ .checkbtn{
        display:none;
    }
    #check:checked ~ .closebtn{
        display:block;
    }
    nav .logo{
        line-height:80px;
        margin-left:0;
        padding-left:20px;
    }
    .logo_SVG{
        
        width:220px;
    }
    @media screen and (max-width: 650px) {
        .small_LOGO{
            display:block;
        }
        .Large_LOGO{
            display:none;
        }
    }

}



